@use "../utils/mixins";

.manufacturers {
  padding-top: 152rem;

  z-index: 1;
  position: relative;
  background-image: url("../images/manufacturers/manufacturers-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 728rem;

  width: 100%;

  @include mixins.breakpoint(large) {
    height: 100%;
  }
  @include mixins.breakpoint(medium) {
    padding-top: 40rem;
    padding-bottom: 100rem;
    height: 100%;
  }

  &__container {
    padding: 0 210rem;

    @include mixins.breakpoint(large) {
      padding: 0 50rem;
    }

    @include mixins.breakpoint(medium) {
      padding: 0 15rem;
    }
  }

  &__title {
    margin-bottom: 60rem;
    @include mixins.breakpoint(medium) {
      margin-bottom: 40rem;
    }
  }

  &__carousel {
    width: 100%;
    max-width: 1280rem;

    @include mixins.breakpoint(large) {
      max-width: 940rem;
    }
    @include mixins.breakpoint(medium) {
      max-width: 224rem;
    }

    &-prev,
    &-next {
      width: 41rem;
      height: 41rem;
      background-color: #8587d2;
      border-radius: 50%;
      z-index: 10000;

      flex-shrink: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &::after {
        content: "";
        display: inline-block;
        background-image: url("../images/manufacturers/arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;

        width: 7rem;
        height: 13rem;
      }
    }

    &-next::after {
      transform: rotate(180deg);
    }
  }

  &__slide {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 10rem;

    height: 174rem;

    overflow: hidden;

    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 30rem;

    @include mixins.breakpoint(medium) {
      height: 130rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    &-descr {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 20rem;

      line-height: 1.55;
      color: var(--white);
      max-width: 1280rem;

      @include mixins.breakpoint(large) {
        max-width: 935rem;
      }
      @include mixins.breakpoint(medium) {
        font-size: 18rem;
        line-height: 1.2;
      }
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: block;
  visibility: visible;
}

.swiper-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 70rem;

  margin-bottom: 40rem;

  @include mixins.breakpoint(large) {
    gap: 40rem;
  }
  @include mixins.breakpoint(medium) {
    gap: 20rem;
  }
}
