@use "../utils/mixins";
.footer {
  &__top {
    display: flex;
    padding-top: 80rem;
    padding-bottom: 45rem;
    gap: 150rem;

    border-bottom: 1.5rem solid #e8e6f9;

    @include mixins.breakpoint(medium) {
      flex-direction: column;
      gap: 50rem;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10rem;
    height: 40rem;

    &-img {
      width: 32rem;
      height: 32rem;
    }

    &-text {
      font-weight: 700;
      font-size: 24rem;

      // line-height: 28px;
      line-height: 1.16667;
      color: var(--black);
      transition: 0.3s ease-in;
    }

    &:hover &-text {
      color: var(--accent);
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50rem 20rem;

    @include mixins.breakpoint(medium) {
      gap: 35rem 20rem;
    }
  }

  &__link {
    &-item {
      display: flex;
      flex-direction: column;
      gap: 15rem;
      width: calc(33.333% - 20rem);

      @include mixins.breakpoint(medium) {
        width: calc(50% - 10rem);
      }

      &-1 {
        order: 1;
      }
      &-2 {
        order: 4;
        @include mixins.breakpoint(medium) {
          order: 3;
        }
      }
      &-3 {
        order: 2;
        @include mixins.breakpoint(medium) {
          order: 5;
        }
      }
      &-4 {
        order: 5;
        @include mixins.breakpoint(medium) {
          order: 2;
        }
      }
      &-5 {
        order: 3;
        @include mixins.breakpoint(medium) {
          order: 4;
        }
      }
      &-6 {
        order: 6;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 16rem;

      // line-height: 24px;
      line-height: 1.5;

      @include mixins.breakpoint(medium) {
        font-size: 14rem;

        line-height: 1.4;
      }
    }
  }
  &__sublinks {
    display: flex;
    flex-direction: column;
  }
  &__sublink {
    font-weight: 500;
    font-size: 16rem;

    // line-height: 38px;
    line-height: 2.375;
    opacity: 0.7;
    display: block;
    color: var(--black);
    transition: 0.3s ease-in;

    @include mixins.breakpoint(medium) {
      font-size: 14rem;

      line-height: 2.3;
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--accent);
      opacity: 1;
    }
  }

  &__bottom {
    margin: 32rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mixins.breakpoint(medium) {
      flex-direction: column;
      gap: 23rem;
    }
  }

  &__copyright {
    font-weight: 500;
    font-size: 16rem;

    // line-height: 26px;
    line-height: 1.6;
    opacity: 0.7;
  }

  &__social {
    &-links {
      display: flex;
      align-items: center;
      gap: 40rem;
    }

    &-link {
      svg {
        opacity: 0.7;
        transition: 0.3s ease;
      }
      &:hover {
        svg {
          path {
            transition: 0.3s ease;
            fill: var(--accent);
          }
          opacity: 1;
        }
      }
    }
  }
}
